obj/Debug/net8.0/csharpquiz.AssemblyInfo.cs
obj/Debug/net8.0/csharpquiz.AssemblyInfoInputs.cache
obj/Debug/net8.0/csharpquiz.csproj.AssemblyReference.cache
obj/Debug/net8.0/csharpquiz.GeneratedMSBuildEditorConfig.editorconfig
obj/csharpquiz.csproj.nuget.dgspec.json
obj/csharpquiz.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/csharpquiz.AssemblyInfo.cs
obj/Debug/net8.0/csharpquiz.AssemblyInfoInputs.cache
obj/Debug/net8.0/csharpquiz.assets.cache
obj/Debug/net8.0/csharpquiz.csproj.AssemblyReference.cache
obj/Debug/net8.0/csharpquiz.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/csharpquiz.AssemblyInfo.cs
obj/Debug/net8.0/csharpquiz.AssemblyInfoInputs.cache
obj/Debug/net8.0/csharpquiz.csproj.AssemblyReference.cache
obj/Debug/net8.0/csharpquiz.GeneratedMSBuildEditorConfig.editorconfig
obj/csharpquiz.csproj.nuget.dgspec.json
obj/csharpquiz.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/csharpquiz.AssemblyInfo.cs
obj/Debug/net8.0/csharpquiz.AssemblyInfoInputs.cache
obj/Debug/net8.0/csharpquiz.assets.cache
obj/Debug/net8.0/csharpquiz.csproj.AssemblyReference.cache
obj/Debug/net8.0/csharpquiz.GeneratedMSBuildEditorConfig.editorconfig
obj/csharpquiz.csproj.nuget.dgspec.json
obj/csharpquiz.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/csharpquiz.AssemblyInfo.cs
obj/Debug/net8.0/csharpquiz.AssemblyInfoInputs.cache
obj/Debug/net8.0/csharpquiz.assets.cache
obj/Debug/net8.0/csharpquiz.csproj.AssemblyReference.cache
obj/Debug/net8.0/csharpquiz.GeneratedMSBuildEditorConfig.editorconfig
