obj/Debug/net8.0/csharpquiz.AssemblyInfo.cs
obj/Debug/net8.0/csharpquiz.AssemblyInfoInputs.cache
obj/Debug/net8.0/csharpquiz.assets.cache
obj/Debug/net8.0/csharpquiz.GeneratedMSBuildEditorConfig.editorconfig
