obj/Debug/net8.0/csharpquiz.AssemblyInfo.cs
obj/Debug/net8.0/csharpquiz.AssemblyInfoInputs.cache
obj/Debug/net8.0/csharpquiz.assets.cache
obj/Debug/net8.0/csharpquiz.GeneratedMSBuildEditorConfig.editorconfig
bin/Debug/net8.0/csharpquiz.dll
bin/Debug/net8.0/csharpquiz.exe
bin/Debug/net8.0/csharpquiz.pdb
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/csharpquiz.dll
obj/Debug/net8.0/csharpquiz.pdb
obj/Debug/net8.0/csharpquiz.sourcelink.json
obj/Debug/net8.0/ref/csharpquiz.dll
obj/Debug/net8.0/refint/csharpquiz.dll
